hr {
    margin-top: 0px;
    margin-bottom: 20px;
    clear:both;
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, white, transparent, white), 
                        linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -moz-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -ms-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);  
}

.title {
    display: flex;
    justify-content: center;
}

.title h5 {
    margin: 0px;
    font-size: 33px;
}

.section {
    white-space: pre-line;
    padding: 150px 90px 10px 90px;
    color: #404040;
}

.prices-notes {
    white-space: pre-line;
    padding: 0px 90px 150px 90px;
    color: #404040;
}

.odd {
    background-color: #ffffff;
}

h5 {
    font-weight: bold;
    padding: 0px;
}

a {
    color: white;
}

button {
    width: auto;
}

.save-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

input {
    width: 100%;
    text-align: left;
    outline: 0;
    border-width: 0 0 0px;
    background-color: transparent;
}

textarea {
    width: 100%;
    text-align: inherit;
    outline: 0;
    border-width: 0 0 0px;
    background-color: transparent;
}

