.footer {
    padding: 20px 90px;
    color: white;
}

.sobre, .contact {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: lightgray;
}

h5 {
    font-weight: bold;
}

textarea {
    width: 100%;
    background-color: inherit;
    border: none;
    color: white;
}

button {
    width: auto;
}

.save-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}