<footer class="footer">
    <div class="row informacoes topo-secao">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 sobre">
            <div class="row titulo"> <h5>Funcionamento</h5></div>
            <div *ngIf="!(isLoggedIn | async)">
                {{footerData.footerScheduleContent}}
            </div>
        
            <div *ngIf="isLoggedIn | async">
                <textarea autosize [(ngModel)]="footerData.footerScheduleContent"></textarea>
            </div>
        </div>
        <div class="row col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 contact">
            <div class="row titulo"><h5>Contato</h5> </div>
            <div>
                Entre em contato com a CBC Lavanderia nos telefones:

                <div *ngIf="!(isLoggedIn | async)">
                    {{footerData.footerContactPhonesContent}}
                </div>
            
                <div *ngIf="isLoggedIn | async">
                    <textarea autosize [(ngModel)]="footerData.footerContactPhonesContent"></textarea>
                </div>
                ou
                <a routerLink="contact">
                    através de nosso formulário de contato.
                </a>
            </div>
        </div>
        <div class="row odd save-button" *ngIf="isLoggedIn | async">
            <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
        </div>
    </div>
</footer>

