nav {
    color: white;
}

.container-fluid {
    background-image:url(../../../assets/teste4.jpg) ;
    background-size: cover;
}

.container {
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-bottom: 40px;
}

.logout-button {
    position: absolute;
    top: 30px;
    right: 30px;
}

.slogan {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-style: italic;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.navbar-div {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.nav {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg-body-tertiary {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    border-radius: 50%;
}

.nav-item {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link.active-link {
    background-color: var(--red);
}

.nav-link {
    color: white;
    border-radius: 50px;
    padding: 15px !important;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--red);
    color: white;
    border-radius: 50px;
}