.container-fluid {
    background-image:url(../../../assets/teste4.jpg) ;
    background-size: cover;
}

.container {
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-bottom: 40px;
}

.slogan {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-div {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.nav {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg-body-tertiary {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    border-radius: 50%;
}

.nav-item {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link.active-link {
    background-color: var(--red);
}

.nav-link {
    color: white;
    border-radius: 50px;
    padding: 15px !important;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--red);
    color: white;
    border-radius: 50px;
}