<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="container">
            <div class="logo col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <a class="navbar-brand" routerLink="">
                    <img src="assets\cbc-logo.png" width="240" height="150">
                </a>
            </div>
            <div class="navbar-div col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <div class="nav nav-pills nav-fill" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="company" routerLinkActive="active-link">EMPRESA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="stores" routerLinkActive="active-link">LOJAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="prices" routerLinkActive="active-link">PREÇOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">CONTATO</a>
                    </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>