.container-fluid {
    background-color: var(--blue);
    box-shadow: 0px 0px 40px -10px var(--blue);
}

.container {
    padding: 5px;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
}

.navbar-div {
    display: flex;
    justify-content: left;
    align-self: center;
}

.nav {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.bg-body-tertiary {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    border-radius: 50%;
}

.nav-link.active-link {
    background-color: var(--red);
}

.nav-link {
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: 0.4s ease-in-out;
}

.nav-link:hover {
    text-decoration: none;
    background-color: rgba(236, 60, 65, 0.8);
}

.nav-item {
    font-weight: bold;
}
