<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="container">
            <div class="logo col-12">
                <a class="navbar-brand" routerLink="">
                    <img src="assets\cbc-logo.png" width="240" height="150">
                </a>
            </div>
            <div class="slogan col-12">
                Roupa, tapete e cortina de cara limpa
            </div>
            <div class="slogan col-12">
                — Desde 1993 —
            </div>
            <div class="navbar-div col-12">
                <div class="nav nav-pills nav-fill" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="company" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">EMPRESA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="stores" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">LOJAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="prices" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">PREÇOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">CONTATO</a>
                    </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>