.container {
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h5 {
    font-weight: bold;
}