<div class="main">
    <div class="info">
        <!-- <h2 class="title">CBC Lavanderia</h2> -->
        <p class="description">Fundada em 1993, CBC Lavanderia iniciou sua atividades no bairro Santa Terezinha em Belo Horizonte, lavando roupas e principalmente carpetes.</p>
        <p class="description">Posteriormente a sede da empresa muda para o bairro Caiçara, onde está localizada atualmente. A empresa cresce com lojas próprias e franquiadas.</p>
        <p class="description">O leque de serviços que oferece é vasto. Desde a lavagem de roupas comuns e sofisticadas, passando por calçados, tapetes, carpetes e até mesmo estofados e cortinas.</p>
        <p class="description">Possuímos lojas espalhadas por toda Belo Horizonte e parte de Nova Lima para seu maior conforto, todas elas utilizando a mais alta tecnologia no que diz respeito a limpeza de roupas</p>
    </div>
    <div class="banner"><img src="\assets\banner_03_company.jpg" alt="company-banner"></div>
</div>
