hr {
    margin-top: 0px;
    margin-bottom: 20px;
    clear:both;
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, white, transparent, white), 
                        linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -moz-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -ms-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);  
}

.title {
    display: flex;
    justify-content: center;
}

.title h5 {
    margin: 0px;
    font-size: 33px;
}

.section {
    white-space: pre-line;
    padding: 150px 90px;
    color: #404040;
}

.section a {
    color: #404040;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #c1e0f5;
}

h5 {
    font-weight: bold;
    padding: 0px;
}

.right-link {
    display: flex;
    justify-content: right;
    padding-top: 10px;
}

a {
    color: white;
}

.round-box {
    border: solid 1px;
    border-radius: 30px;
    border-color: #d3d3d3;
    padding: 18px;
    color: 404040;
}

.round-box img {
    vertical-align: baseline;
    width: 1.8%;
}

.round-box a {
    color: black;
}


p {
    padding-left: 10px;
    margin-bottom: 0px;
}

.image {
    padding-top: 210px;
    padding-bottom: 210px;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    color: white;
}

.image h5 {
    font-size: 33px;
}

.round-box h5 {
    font-size: 24px;
}

.image-parent {
    padding: 0px;
    overflow:hidden;
}

.stores,
.prices,
.contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    transition: all .5s;
}

.image-parent:hover .stores,
.image-parent:focus .stores,
.image-parent:hover .prices,
.image-parent:focus .prices,
.image-parent:hover .contact,
.image-parent:focus .contact {
    transform: scale(1.2);
}

.stores::before,
.prices::before,
.contact::before {
    /* content: ""; */
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.3);
}

.image-parent:hover .stores:before,
.image-parent:focus .stores:before,
.image-parent:hover .prices:before,
.image-parent:focus .prices:before,
.image-parent:hover .contact:before,
.image-parent:focus .contact:before {
    display: block;
}

.stores {
    background-image:url(../../../assets/home-stores2.jpg) ;
}

.prices {
    background-image:url(../../../assets/home-prices.jpg) ;
}

.contact {
    background-image:url(../../../assets/home-contact2.jpg) ;
}

button {
    width: auto;
}

.save-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

input {
    width: 100%;
    text-align: center;
    outline: 0;
    border-width: 0 0 0px;
}

textarea {
    width: 100%;
    text-align: inherit;
    outline: 0;
    border-width: 0 0 0px;
}