<section>
  <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">    
      <div class="form-group padding-bottom">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email é obrigatório</div>
          <div *ngIf="f['email'].errors['email']">Email inválido</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Senha</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Senha é obrigatório</div>
        </div>
      </div>

      <div class="center padding-bottom"> 
        <p class="small mt-2 pt-1 mb-0">Esqueceu a senha ?
          <a  routerLink="/forgot-password"
              class="link-danger">Enviar email de redefinição</a>
        </p>
      </div>
  
      <div class="form-group center">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>
</section>