/* .main {
    display: flex;
    flex-direction: column;
}

.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
}

.outlet {
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer {
    justify-content: center;
    align-items: center;
    display: flex;
} */
