<div class="container">
    <div class="slogan">
        SUA ROUPA, TAPETE E CORTINA DE CARA LIMPA
    </div>
    <div class="main-banner">
        <img src="assets\banner_00.jpg">
    </div>
    <div class="slogan">
        DESDE 1993
    </div>
    <!-- <div class="box">
        Estofados
        <p>
            A CBC, além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável.
        </p>
    </div> -->
    <!-- <div class="box">
        <div class="row title">Estofados</div>
        <div class="row">
            A CBC, além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável.
        </div>
    </div> -->
    <div class="round-box">
        <h5>Dicas <img src="assets/icons/lightbulb-fill.svg"></h5>
        <p>Conheça o que significa cada símbolo presente na etiqueta de sua roupa e saiba porque é tão importante conservá-la.</p>
        <!-- <br>  -->
        <!-- <div class="round-box-row">Dicas</div>
        <div class="round-box-row">
            <p>Conheça o que significa cada símbolo presente na etiqueta de sua roupa e saiba porque é tão importante conservá-la.</p>
        </div> -->
        <button type="button" class="btn btn-secondary" routerLink="company">Saiba mais</button>
    </div>
    
</div>
