.container {
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-banner img {
    width: 100%;
}

.section {
    padding: 25px 90px;
}

.section {
    color: #404040;
}

.section a {
    color: #404040;
}

.section-item {
    padding: 0px 25px;
    position: relative;
}

.bottom {
    position: absolute;
    bottom: -10px;
    padding: 0px 25px;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #c1e0f5;
}

h5 {
    font-weight: bold;
    padding: 0px;
}

.right-link {
    width: 100%;
    text-align: end;
}

.text {
    text-align: justify;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.text a {
    padding: 0px 0px;
}

a {
    color: white;
}

.slogan {
    /* background-color: #ec3c41; */
    /* background-color: #f46369; */

    background-color: #c1e0f5;
    /* background-color: var(--blue); */
    color: black;
    text-align: center;
    padding: 7px;
    font-size: large;
}

.box {
    padding: 20px 20px;
    padding-bottom: 40px;
}

.round-box {
    border: solid 1px;
    border-radius: 30px;
    border-color: #d3d3d3;
    padding: 18px;
    color: 404040;
}

.round-box img {
    vertical-align: top;
}

.round-box a {
    color: black;
}


p {
    padding-left: 10px;
    margin-bottom: 5px;
}

.btn-secondary {
    float: right;
}
