.container {
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-banner img {
    width: 100%;
}

.section {
    padding: 20px 90px;
}

.section-item {
    padding: 0px 25px;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #74b4dc;
}

h5 {
    font-weight: bold;
}

.right-link {
    width: 100%;
    text-align: end;
}

.text {
    text-align: justify;
    display: inline-block;
    width: 100%;
}

.text a {
    padding: 0px 0px;
}

a {
    color: white;
}

.slogan {
    background-color: #ec3c41;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: large;
}

.box {
    padding: 20px 20px;
    padding-bottom: 40px;
}

.round-box {
    border: solid 1px;
    border-radius: 30px;
    border-color: #d3d3d3;
    padding: 18px;
    color: black;
}

.round-box img {
    vertical-align: top;
}

.round-box a {
    color: black;
}


p {
    padding-left: 10px;
    margin-bottom: 5px;
}

.btn-secondary {
    float: right;
}
