<!-- <div class="container"> -->
    <div class="section odd">
        <div class="title"><h5>Sobre nós</h5></div>
        <hr>
        <div>
            Fundada em 1993, a CBC Lavanderia iniciou sua atividades no bairro Santa Terezinha em Belo Horizonte e além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável.
            Possuímos lojas espalhadas por toda Belo Horizonte e parte de Nova Lima para seu maior conforto, todas elas utilizando a mais alta tecnologia no que diz respeito a limpeza de roupas.
        </div>
        <div>
            <a class="right-link" routerLink="company">Mais detalhes</a>
        </div>
        
    </div>

    <div class="row section even">
        <div class="section-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row left-title col-12"> <h5>A Empresa</h5></div>
            <div class="row text col-12">
                Fundada em 1993, a CBC Lavanderia iniciou sua atividades no bairro Santa Terezinha em Belo Horizonte e além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável. 
            </div>
            <div class="row bottom col-12">
                <a class="right-link" routerLink="company">Mais detalhes</a>
            </div>
        </div>
        <div class="section-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row left-title col-12"> <h5>Lojas</h5></div>
            <div class="row text col-12">
                Possuímos lojas espalhadas por toda Belo Horizonte e parte de Nova Lima para seu maior conforto, todas elas utilizando a mais alta tecnologia no que diz respeito a limpeza de roupas.
            </div>
            <div class="row bottom col-12">
                <a class="right-link" routerLink="company">Mais detalhes</a>
            </div>
        </div>
    </div>

    <div class="row section odd">
        <div class="round-box col-12">
            <h5>Dicas <img src="assets/icons/lightbulb-fill.svg"></h5>
            <p>Conheça o que significa cada símbolo presente na etiqueta de sua roupa e saiba porque é tão importante conservá-la.</p>
            <!-- <button type="button" class="btn btn-secondary" routerLink="company">Saiba mais</button> -->
            <div class="row col-12">
                <a class="right-link" routerLink="company">Mais detalhes</a>
            </div>
        </div>
    </div>
    
    <!-- <div class="box">
        Estofados
        <p>
            A CBC, além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável.
        </p>
    </div> -->
    <!-- <div class="box">
        <div class="row title">Estofados</div>
        <div class="row">
            A CBC, além de lavar estofados, lava cortinas e tapetes para deixar a sua casa mais limpa e agradável.
        </div>
    </div> -->
    <!-- <div class="round-box">
        <h5>Dicas <img src="assets/icons/lightbulb-fill.svg"></h5>
        <p>Conheça o que significa cada símbolo presente na etiqueta de sua roupa e saiba porque é tão importante conservá-la.</p>
        <button type="button" class="btn btn-secondary" routerLink="company">Saiba mais</button>
    </div> -->
    
<!-- </div> -->
