<div class="section odd">
    <div class="title"><h5>Tabela De Preços</h5></div>    
    <hr>
</div>

<div class="row even">
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image kilo">
            <a routerLink="kilo"> <h5>Quilo</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image female">
            <a routerLink="female"> <h5>Feminino</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image male">
            <a routerLink="male"> <h5>Masculino</h5></a>
        </div>
    </div> 
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image children">
            <a routerLink="children"> <h5>Infantil</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image couch">
            <a routerLink="couch"> <h5>Estofado</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image rug">
            <a routerLink="rug"> <h5>Tapete</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image curtain">
            <a routerLink="curtain"> <h5>Cortina</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image bed">
            <a routerLink="bed"> <h5>Cama/Mesa</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image trussardi">
            <a routerLink="trussardi"> <h5>Trussardi</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image others">
            <a routerLink="others"> <h5>Diversos</h5></a>
        </div>
    </div>
</div>

<div class="row section odd">
    <div class="round-box col-12">
        <h5>Dicas <img src="assets/icons/lightbulb-fill.svg"></h5>

        <p *ngIf="!isInternalPage">{{pageData.pricesHintContent}}</p>
        <p *ngIf="isInternalPage"><textarea rows="1" [(ngModel)]="pageData.pricesHintContent"></textarea></p>
    </div>
</div>

<div class="row odd save-button" *ngIf="isInternalPage">
    <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
</div>
