<div class="section odd">
    <div class="title"><h5>Lojas</h5></div>    
    <hr>

    <table *ngIf="!isInternalPage" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Bairro</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let neighborhoods of this.storesData.storesNeighborhoodsContent; let i = index;">
                <td>{{ this.storesData.storesNeighborhoodsContent[i] }}</td>
                <td>{{ this.storesData.storesAddressesContent[i] }}</td>
                <td>{{ this.storesData.storesPhonesContent[i] }}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="isInternalPage" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Bairro</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let neighborhoods of this.storesData.storesNeighborhoodsContent; let i = index; trackBy: trackByIndex">
                <td><input type="text" [(ngModel)]="this.storesData.storesNeighborhoodsContent[i]" /></td>
                <td><input type="text" [(ngModel)]="this.storesData.storesAddressesContent[i]" /></td>
                <td><input type="text" [(ngModel)]="this.storesData.storesPhonesContent[i]" /></td>
                <td> <button class="btn btn-secondary" type="button" (click)="deleteTableElement(i)">Deletar</button> </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="isInternalPage" class="btn btn-secondary" type="button" (click)="addTableElement()">+</button>
</div>

<div class="row odd save-button" *ngIf="isInternalPage">
    <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
</div>
