/* You can add global styles to this file, and also import other style files */
*
{
    padding: 0;
    margin: 0;
}

:root {
    --red: #ec3c41;
    /* --blue: rgb(129, 187, 230); */
    /* --blue: #0B73BB; */
    /* --blue: #1396f1; */
    /* --blue: #0d85d8; */
    --blue: #1f7fc1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* html, body { height: 100%; width: 100%; margin: 0; } */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
