/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');

*
{
    padding: 0;
    margin: 0;
}

:root {
    --red: #ec3c41;
    /* --blue: rgb(129, 187, 230); */
    /* --blue: #0B73BB; */
    /* --blue: #1396f1; */
    /* --blue: #0d85d8; */
    --blue: #1f7fc1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Roboto Serif', serif;
    font-size: 17px;
    color: white;
}

/* html, body { height: 100%; width: 100%; margin: 0; } */