hr {
    margin-top: 0px;
    margin-bottom: 20px;
    clear:both;
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, white, transparent, white), 
                        linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -moz-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
    background-image: -ms-linear-gradient(to right, white, transparent, white), 
                        -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);  
}

.title {
    display: flex;
    justify-content: center;
}

.title h5 {
    margin: 0px;
    font-size: 33px;
}

.section {
    white-space: pre-line;
    padding: 150px 90px 3px 90px;
    color: #404040;
}

.top-hint {
    white-space: pre-line;
    padding: 50px 90px 150px 90px;
    color: #404040;
}

.odd {
    background-color: #ffffff;
}

.empty {
    padding-bottom: 150px;
}


.even {
    background-color: #c1e0f5;
}

.round-box {
    border: solid 1px;
    border-radius: 30px;
    border-color: #d3d3d3;
    padding: 18px;
    color: 404040;
}

.round-box h5 {
    font-size: 24px;
}

.round-box img {
    vertical-align: baseline;
    width: 1.8%;
}

h5 {
    font-weight: bold;
    padding: 0px;
}

p {
    padding-left: 10px;
    margin-bottom: 0px;
}

a {
    color: white;
}

button {
    width: auto;
}

.image {
    padding-top: 210px;
    padding-bottom: 210px;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    color: white;
}

.image h5 {
    font-size: 33px;
}

.image-parent {
    padding: 0px;
    overflow:hidden;
}


.couch,
.rug,
.curtain,
.bed,
.trussardi,
.others,
.kilo,
.female,
.male,
.children {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    transition: all .5s;
}

.image-parent:hover .couch,
.image-parent:focus .couch,
.image-parent:hover .rug,
.image-parent:focus .rug,
.image-parent:hover .curtain,
.image-parent:focus .curtain,
.image-parent:hover .bed,
.image-parent:focus .bed,
.image-parent:hover .trussardi,
.image-parent:focus .trussardi,
.image-parent:hover .others,
.image-parent:focus .others,
.image-parent:hover .kilo,
.image-parent:focus .kilo,
.image-parent:hover .female,
.image-parent:focus .female,
.image-parent:hover .male,
.image-parent:focus .male,
.image-parent:hover .children,
.image-parent:focus .children {
    transform: scale(1.2);
}

.couch::before,
.rug::before,
.curtain::before,
.bed::before,
.trussardi::before,
.others::before,
.kilo::before,
.female::before,
.children::before,
.male::before {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.3);
}

.image-parent:hover .couch:before,
.image-parent:focus .couch:before,
.image-parent:hover .rug:before,
.image-parent:focus .rug:before,
.image-parent:hover .curtain:before,
.image-parent:focus .curtain:before,
.image-parent:hover .bed:before,
.image-parent:focus .bed:before,
.image-parent:hover .trussardi:before,
.image-parent:focus .trussardi:before,
.image-parent:hover .others:before,
.image-parent:focus .others:before,
.image-parent:hover .kilo:before,
.image-parent:focus .kilo:before,
.image-parent:hover .female:before,
.image-parent:focus .female:before,
.image-parent:hover .male:before,
.image-parent:focus .male:before, 
.image-parent:hover .children:before,
.image-parent:focus .children:before {
    display: block;
}

.couch {
    background-image:url(../../../assets/prices-couch.jpg) ;
}

.rug {
    background-image:url(../../../assets/prices-rug.jpg) ;
}

.curtain {
    background-image:url(../../../assets/prices-curtain.jpg) ;
}

.bed {
    background-image:url(../../../assets/prices-bed.jpg) ;
}

.trussardi {
    background-image:url(../../../assets/prices-trussardi.jpg) ;
}

.others {
    background-image:url(../../../assets/prices-others.jpg) ;
}

.kilo {
    background-image:url(../../../assets/prices-kilo.jpg) ;
}

.female {
    background-image:url(../../../assets/prices-women.jpg) ;
}

.male {
    background-image:url(../../../assets/prices-men.jpg) ;
}

.children {
    background-image:url(../../../assets/prices-childen.jpg) ;
}

textarea {
    width: 100%;
    text-align: inherit;
    outline: 0;
    border-width: 0 0 0px;
}

.save-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}