<div class="section odd">
    <div class="title"><h5>Tabela De Preços</h5></div>    
    <hr>
</div>

<div class="row top-hint odd">
    <div class="round-box col-12">
        <h5>Dicas <img src="assets/icons/lightbulb-fill.svg"></h5>

        <p *ngIf="!(isLoggedIn | async)">{{pageData.pricesHintContent}}</p>
        <p *ngIf="isLoggedIn | async"><textarea rows="1" [(ngModel)]="pageData.pricesHintContent"></textarea></p>
    </div>
</div>

<div class="row even">
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image kilo">
            <a routerLink="details" [queryParams]="{type: 'kilo'}"> <h5>Quilo</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image female">
            <a routerLink="details" [queryParams]="{type: 'female'}"> <h5>Feminino</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image male">
            <a routerLink="details" [queryParams]="{type: 'male'}"> <h5>Masculino</h5></a>
        </div>
    </div> 
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image children">
            <a routerLink="details" [queryParams]="{type: 'children'}"> <h5>Infantil</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image couch">
            <a routerLink="details" [queryParams]="{type: 'couch'}"> <h5>Estofado</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image rug">
            <a routerLink="details" [queryParams]="{type: 'rug'}"> <h5>Tapete</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image curtain">
            <a routerLink="details" [queryParams]="{type: 'curtain'}"> <h5>Cortina</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image bed">
            <a routerLink="details" [queryParams]="{type: 'bed'}"> <h5>Cama/Mesa</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image trussardi">
            <a routerLink="details" [queryParams]="{type: 'trussardi'}"> <h5>Trussardi</h5></a>
        </div>
    </div>
    <div class="image-parent col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="image others">
            <a routerLink="details" [queryParams]="{type: 'others'}"> <h5>Diversos</h5></a>
        </div>
    </div>
</div>

<div class="row odd save-button" *ngIf="isLoggedIn | async">
    <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
</div>
<div class="row odd empty" *ngIf="!(isLoggedIn | async)">
</div>
